html,
body {
    background-color: #fff;
    padding: 0px;
}
.webview-menu .el-tabs__header.is-top{
    margin-bottom:0px;
}
.webview-menu .el-tabs__header.is-top .el-tabs__nav-scroll{
    padding:0 32px;
}