.vscode/**
.vscode-test/**
.yarn/**
apps/**
out/**
node_modules/**
src/**
src/test/**
.git/**
packages/**
**/node_modules/**
dist/test/**
.zip
.markdownlint.json

.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
.turbo/**
dist/*.map  
dist/*.txt
**/*.tsbuildinfo
PERFORMANCE.md
README_zh.md
.github/**

# 忽略 React 源代码
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
webview-ui/tsconfig*.json
webview-ui/vite.config.ts
webview-ui/package*.json

# 仅保留编译后的产物
!webview-ui/dist/**