.vscode/**
.vscode-test/**
.yarn/**
apps/**
out/**
node_modules/**
src/**
src/test/**
.git/**
packages/**
**/node_modules/**
dist/test/**
.zip
.markdownlint.json

.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
.turbo/**
dist/*.map  
dist/*.txt
**/*.tsbuildinfo
PERFORMANCE.md
README_zh.md