.vscode/**
.vscode-test/**
out/**
node_modules/**
# 排除源码，但保留 snippet
src/**
!src/module/snippet/**
!src/module/snippet/snippet.template.json

.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml